// src/pages/Dashboard.module.scss
.dashboardPage {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #dashboard-page {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 2em;
    color: #333;
  }
  